Django==1.7
argparse==1.2.1
certifi==14.05.14
django-allauth==0.18.0
django-braces==1.4.0
django-oauth-toolkit==0.7.2
oauthlib==0.6.3
python-openid==2.2.5
requests==2.4.0
requests-oauthlib==0.4.1
six==1.7.3
wsgiref==0.1.2
